@import url("https://fonts.googleapis.com/css?family=Roboto");

html,
body {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration-line: none;
    color: inherit;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid: 1fr 4fr / 1fr 4fr;
}

.container>.header {
    grid-area: 1 / 2;
    display: grid;
    grid: 1fr 1fr / 4fr repeat(3, 1fr);
    align-items: center;
    gap: 10px;
}

.search-container {
    justify-self: center;
}

form {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.search-btn {
    background-image: url(icons/magnify.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    border: none;
    background-color: unset;
}

#search-bar {
    border-radius: 30px;
    border: none;
    background-color: rgba(226, 232, 240, 1);
    height: 40px;
    width: 40vw;
    padding: 15px;
}

.notification {
    justify-self: end;
    width: 30px;
}

.user-icon {
    justify-self: center;
}

.user-name {
    font-size: large;
    font-weight: bold;
}

.user-greet {
    font-size: 23px;
    font-weight: bold;
}

.user-info {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 1fr 4fr;
}

.header-btn {
    background-color: rgb(16, 130, 212);
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    height: 40px;
    width: 100px;
}

.header-btn:hover,
.search-btn:hover {
    cursor: pointer;
}

#new-btn {
    justify-self: end;
}

#upload-btn {
    justify-self: center;
}

.container>.sidebar {
    background-color: rgb(16, 130, 212);
    grid-area: 1 / 1 / 3;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto auto 1fr;
    color: white;
    font-weight: bolder;
}

.sidebar>.header>ul>li {
    font-size: 2rem;
    list-style-type: none;
}

.header>ul>li>img {
    vertical-align: middle;
    margin-right: 10px;
}

.sidebar>.main>ul>li,
.sidebar>.footer>ul>li {
    font-size: 1.5rem;
    list-style-type: none;
    margin: 25px 0;
}

.main>ul>li>img {
    margin-right: 10px;
    vertical-align: -6px;
}

.main-content {
    background-color: rgba(226, 232, 240, 1);
    grid-area: 2 / 2;
}

/* borders color rgba(240, 180, 41, 1) */